<%= form_with(model: digital_locker, local: true, class: "m-t-40") do |form| %>
  <% if digital_locker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(digital_locker.errors.count, "error") %> prohibited this digital_locker from being saved:</h2>

      <ul>
      <% digital_locker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
          <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <h5>File name<span class="text-danger">*</span></h5>
  <div class="controls">
    <%= form.text_field :file_name, class: "form-control", required: "true", "data-validation-required-message" => "This field is required" %>
  </div>
</div>

<div class="form-group">
    <h5>Document Type <span class="text-danger">*</span></h5>
    <div class="controls">
        <%= form.select :document_type, options_for_select(DigitalLocker.document_types.keys.to_a, class: 'form-control'), {}, {class: "form-control"} %>
    </div>
</div>

<div class="form-group">
    <h5>Parent Folder<span class="text-danger">*</span></h5>
    <div class="controls">
        <%= form.select :digital_locker_folder_id, options_for_select(DigitalLockFolder.all, class: 'form-control'), {}, {class: "form-control"} %>
    </div>
</div>

   <div class="text-xs-right">
    <%= form.button 'submit', class: "btn btn-info" %>
    <%= link_to 'Cancel', digital_lockers_path, class: "btn btn-inverse", style: "a" %>
  </div>
<% end %>

