<%= form_with(model: activity, local: true, class: "m-t-40") do |form| %>
  <% if activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
          <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <h5>Enter Date <span class="text-danger">*</span></h5>
      <div class="controls">
        <%= form.datetime_select :activity_date, class: "form-control", placeholder: "MM/DD/YYYY", 
          "data-validation-regex-regex"=>"([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})", "data-validation-regex-message"=>"Enter Valid Date" %>
  </div>

  <div class="form-group">
    <h5>Description<span class="text-danger">*</span></h5>
    <div class="controls">
      <%= form.text_field :content, class: "form-control", required: "true", "data-validation-required-message" => "This field is required" %>
    </div>
  </div>

<div class="form-group">
  <h5>Activity Type<span class="text-danger">*</span></h5>
  <div class="controls">
    <%= form.text_field :activity_type_id, class: "form-control", required: "true", "data-validation-required-message" => "This field is required" %>
  </div>
</div>

<div class="form-group">
    <h5>Enter Start Time <span class="text-danger">*</span></h5>
    <div class="controls">
      <%= form.datetime_select :time_started, class: "form-control", placeholder: "MM/DD/YYYY:HH:MM:SS", 
        "data-validation-regex-regex"=>"([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})", "data-validation-regex-message"=>"Enter Valid Date" %>
</div>

<div class="form-group">
    <h5>Enter End Time <span class="text-danger">*</span></h5>
    <div class="controls">
      <%= form.datetime_select :time_ended, class: "form-control", placeholder: "MM/DD/YYYY", 
        "data-validation-regex-regex"=>"([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})", "data-validation-regex-message"=>"Enter Valid Date" %>
</div>

<div class="form-group">
  <h5>Duration<span class="text-danger">*</span></h5>
  <div class="controls">
    <%= form.text_field :duration, class: "form-control", required: "true", "data-validation-required-message" => "This field is required" %>
  </div>
</div>

<div class="form-group">
  <h5>Excuse<span class="text-danger">*</span></h5>
  <div class="controls">
    <%= form.number_field :excuse, class: "form-control", required: "true", "data-validation-required-message" => "This field is required" %>
  </div>
</div>

<div class="form-group">
    <h5>Status <span class="text-danger">*</span></h5>
    <div class="controls">
        <%= form.select :status, options_for_select(Activity.statuses.keys.to_a, class: 'form-control'), {}, {class: "form-control"} %>
    </div>
</div>

<div class="text-xs-right">
  <%= form.button 'submit', class: "btn btn-info" %>
  <%= link_to 'Cancel', activities_path, class: "btn btn-inverse", style: "a" %>
</div>
<% end %>
